<app-nav-bar></app-nav-bar>

<div class="main-responses">
  <div class="responses-header poppins-normal">
    <h1 class="responses-header__title">Responses</h1>
  </div>
  <div class="responses-container poppins-normal">
    <div class="responses-body poppins-normal">
      <table class="responses-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Responder Name</th>
            <th>Date Time</th>
            <th>View Response</th>
          </tr>
        </thead>
        <tbody>
            <p
              class="no-responses-text poppins-normal"
              *ngIf="responses?.length === 0"
            >
              No response have been submitted yet.
            </p>
  
            <tr *ngFor="let response of responses; let i = index">
              <td>{{ i + 1 + (pageSize * currentPage)}}</td>
              <td>{{ response.responderName }}</td>
              <td>
                {{
                  response.createdAt.split("T")[0] +
                    " " +
                    response.createdAt.split("T")[1].split(".")[0]
                }}
              </td>
              <td>
                <button type="button" class="view-response-button poppins-normal">
                  View Response
                </button>
              </td>
            </tr>
          </tbody>
        <tfoot *ngIf="responses.length > 0">
            <tr>
              <td colspan="4" id="pagination-handle-button-container">
                <div class="pagination-handle-buttons">
                  <button type="button" class="prev-page" (click)="goToPreviousPage()" [disabled]="currentPage === 0">Previous</button>
                  <span class="page-info">Page {{ currentPage + 1 }} of {{ totalPages }}</span>
                  <button type="button" class="next-page" (click)="goToNextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
                </div>
              </td>
            </tr>
          </tfoot>
      </table>
    </div>
  </div>
</div>
